<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form style="width: 70%; padding:20px; margin: auto;" (ngSubmit)="register()" [formGroup]="credentials">
    <div style="width: 70%; margin:auto; padding:20px;">
      <img  src="https://firebasestorage.googleapis.com/v0/b/khajornsakdev.appspot.com/o/Findfitt%20Image%2Fsvg%2Fundraw_mobile_login_re_9ntv.svg?alt=media&token=2ade0c7a-0ee7-441c-ba96-629a77c10f54" alt="">
    </div>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" required formControlName="email"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" required formControlName="password"></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="primary" expand="block">Sign Up</ion-button>
        <p class="ion-text-center">Already have an account ?   <a [routerLink]="['/login']" class="small-text">Sign In</a></p>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
