<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">home</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding" >
    <div class="header-container">
      <img src="https://ptcdn.info/doodle/2023/5d07273900d01f33da0f618c_bkbe0xu94v.png" alt="" width="90%">
    </div>
    <div class="container">
      <ion-list class="form">
        <h1 class="ion-text-center" style="color: white;">แบบฟอร์มส่งข้อมูล</h1>
        <ion-item class="form-item">
          <ion-input [(ngModel)]="title" label="หัวข้อกระทู้" labelPlacement="floating" placeholder="หัวข้อกระทู้" required ></ion-input>
        </ion-item>
        <ion-item class="form-item">
          <ion-input [(ngModel)]="description" label="รายละเอียดกระทู้" labelPlacement="floating" placeholder="รายละเอียดกระทู้" required></ion-input>
        </ion-item>
        <ion-item class="form-item">
          <ion-input [(ngModel)]="sender" label="ชื่อผู้ส่ง" labelPlacement="floating" placeholder="ชื่อผู้ส่ง" required></ion-input>
        </ion-item>
        <ion-button class="ion-padding" expand="full" shape="round" type="submit" (click)="gotonext()" >ส่ง</ion-button>
      </ion-list>
    </div>

  </ion-content>
</ion-content>
