.desc-block {
  background-color: #193366;
  padding: 5px 20px;
  border-color: white;
  border-width: 2px;
  border-style: solid;
}

.title {
  color: #FFCD05;
}
.sender {
  font-size: small;
}
ion-content{
  background-color: #3C3963;
}
