<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>homeresult</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">homeresult</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <div class="desc-block">
      <h1 class="title">{{ this.title }}</h1>
      <p>{{ this.description }}</p>
      <p class="sender">ผู้เขียน: {{ this.sender }}</p>
    </div>

  </ion-content>
</ion-content>
